$colors: (
    primary: 113 74% 36%,
    primary-op: 113 74% 36% / 0.1,
    "gray": 219 14% 71%,
    gray-op: 219 14% 71% / 0.1,
    background: 360 34% 19%,
    "white": 0 0% 100%,
);


$desktopScreen: 1024px;
$tabletScreen: 768px;
$mobileScreen: 500px;


